- content_for(:head) do
  != stylesheet_tag "dashboard"

  %link{:href => "//cdn.jsdelivr.net/jquery.fileupload/8.8.2/css/jquery.fileupload-ui.css", :rel => "stylesheet", :type => "text/css"}/

- content_for(:scripts) do
  %script{:src => "//cdn.jsdelivr.net/jquery.ui/1.9.2/jquery-ui.custom.min.js"}
  %script{:src => "//cdn.jsdelivr.net/jquery.fileupload/8.8.2/js/jquery.fileupload.js"}
  %script{:src => "//cdn.jsdelivr.net/jquery.fileupload/8.8.2/js/jquery.fileupload-ui.js"}
  %script{:src => "//cdn.jsdelivr.net/jquery.fileupload/8.8.2/js/jquery.fileupload-process.js"}
  %script{:src => "//cdn.jsdelivr.net/jquery.fileupload/8.8.2/js/jquery.fileupload-validate.js"}
  %script{:src => "//cdn.jsdelivr.net/jquery.fileupload/8.8.2/js/jquery.fileupload-angular.js"}

  != javascript_tag "dashboard"

  :javascript
    mixpanel.alias("#{user.email}")

.container-narrow{"ng-controller" => "VersionsCtrl", "ng-init" => "init('" + appcast._id + "')"}
  .header
    %ul.nav.nav-pills.pull-right
      %li
        %a{:href => "/how-to-setup-self-updating-mac-app-in-5-minutes"} How to
      %li
        %a{:href => "/auth/logout"} Log out
    %h3.text-muted=settings.appname
  %hr/
  %div{ "ng-view" => "" }
