- content_for(:head) do
	%link{:href => "/stylesheets/dashboard.css", :rel => "stylesheet"}

- content_for(:scripts) do
	%script{:src => "/javascripts/dashboard.js"}

.container{"ng-controller" => "VersionsCtrl", "ng-init" => "init('" + appcast._id + "')"}
	.header
		%h3.text-muted=settings.appname
	%hr/
	.row
		.col-md-8
			.appcast
				%form.form-inline{:role => "form"}
					.form-group
						.input-group
							%span.input-group-addon AppCast Name
							%input.form-control{:type => "text", "ng-model" => "appcast.name"}
			.versions
				.version{ "ng-repeat" => "version in versions"}
					%span.title = {{version.title}}
		.col-md-4
			.panel.panel-info
				.panel-heading
					%h3.panel-title Step by step instructions
				.panel-body
					%p
						Hi, great to have you on board! To host you appcast all you need to do is follow this steps:
					%ol
						%li
							Download and bundle this special version of
							%a{:href => "http://github.com/pawelniewie/sparkle"} Sparkle
						%li
							Add it to your project
						%li
							Add this little helper to you build
						%li
							Before releasing run git tag -a version
						%li
							Build for Archiving
						%li
							Export the app (sign in with a Developer certificate)
						%li
							Run appcast upload with the app file
						%li
							Your appcast was updated and clients are getting the new version!
