%form{:role => "form"}
  .form-group{"ng-class" => "{'has-error': version.name.$invalid}"}
    %label Version Title
    %input{:name => "title", :class => "form-control", "ng-model" => "version.title", :required => "", :type => "text"}/

  .form-group{"ng-class" => "{'has-error': version.name.$invalid}"}
    %label Published on
    %input{:name => "pubDate", :class => "form-control", "ng-model" => "version.pubDate", :required => "", :type => "text"}/

  .form-group
    %label Description
    %textarea{:name => "description", :class => "form-control", :rows => 5, "ng-model" => "version.description"}

  %button.btn.btn-default{"ng-click" => "save()", "ng-disabled" => "isClean() || version.$invalid"} Save
  %button.btn.btn-danger{"ng-click" => "destroy()", "ng-show" => "version._id"} Delete
  %a.btn{:href => "#/"} Cancel
