%form{:role => "form"}
  .form-group{"ng-class" => "{'has-error': version.name.$invalid}"}
    %label Version Title
    %input{:name => "title", :class => "form-control", "ng-model" => "version.title", :required => "", :type => "text"}/

  .form-group{"ng-class" => "{'has-error': version.name.$invalid}"}
    %label Published on
    .input-group{"data-link-format" => "yyyy-mm-ddThh:ii:ssZ", "data-date-format" => "dd MM yyyy - HH:ii p", "data-link-field" => "pubDate", "bs-datetimepicker" => "", "data-autoclose" => "true", "data-today-btn" => "true", "data-show-meridian" => "true", "data-today-highlight" => "true", "ng-model" => "version.pubDate"}
      %input{:class => "form-control", :required => "", :type => "text", :readonly => ""}/
      %span.input-group-addon
        %span.glyphicon.glyphicon-th

  .form-group
    %label Description
    %textarea{:name => "description", :class => "form-control", :rows => 5, "ng-model" => "version.description"}

  %button.btn.btn-default{"ng-click" => "save()", "ng-disabled" => "isClean() || version.$invalid"} Save
  %button.btn.btn-danger{"ng-click" => "destroy()", "ng-show" => "version._id"} Delete
  %a.btn{:href => "#/"} Cancel
