- content_for(:head) do
  != stylesheet_tag "howto"
- content_for(:scripts) do
  != javascript_tag "howto"
  :javascript
    mixpanel.track("How To");

.container
  .header
    %ul.nav.nav-pills.pull-right
      %li
        %a{:href => "#"} Home
      %li.active
        %a{:href => "/how-to-setup-self-updating-mac-app-in-5-minutes"} How to
      %li
        %a{:href => "mailto:pawelniewiadomski@me.com"} Contact
    %h3.text-muted=settings.appname
  %hr/
  %div
    %carousel
      %slide
        %img{:src => "https://s3.amazonaws.com/appcasts-assets/static/1/how-to/drag-drop-to-frameworks.jpeg"}
        .carousel-caption
          %h4 Slide
          %p This is a description
      %slide
        %img{:src => "https://s3.amazonaws.com/appcasts-assets/static/1/how-to/copy-frameworks.jpeg"}
        .carousel-caption
          %h4 Slide
          %p This is a description
      %slide
        %img{:src => "https://s3.amazonaws.com/appcasts-assets/static/1/how-to/set-feed-url.jpeg"}
        .carousel-caption
          %h4 Slide
          %p This is a description
      %slide
        %img{:src => "https://s3.amazonaws.com/appcasts-assets/static/1/how-to/set-build-versions.jpeg"}
        .carousel-caption
          %h4 Slide
          %p This is a description
      %slide
        %img{:src => "https://s3.amazonaws.com/appcasts-assets/static/1/how-to/sends-system-profile.jpeg"}
        .carousel-caption
          %h4 Slide
          %p This is a description
  .row.marketing
    .col-lg-6
      %h4 Based on proven technology
      %p This site is using Sparkle the most popular self-updating framework for Mac
      %h4 Customized
      %p You'll get a customized Sparkle that requires no effort to integrate it with your project
    .col-lg-6
      %h4 Fast
      %p The whole setup shouldn't take your more than 5 minutes
      %h4 Fresh
      %p A special link will return the latest version for your app - right to use on your product page
  %hr/
  .footer
    %p &copy; Pawel Niewiadomski 2013
