.appcast
	%form.form-inline{:role => "form"}
		.form-group
			.input-group
				%span.input-group-addon AppCast Name
				%input.form-control{:type => "text", "ng-model" => "appcast.name", "ng-change" => "saveAppcast()"}

%div{:action => "appcastUrl", "clear-on-complete" => "true", "drag-drop-upload" => "", "on-complete" => "uploadComplete(e, data)", "on-error" => "uploadError(e, data)", "on-progress" => "uploadProgress(progress, e, data)"}

.versions
	.version.panel.panel-info{ "ng-repeat" => "version in appcast.items" }
		.panel-heading
			.pull-left
				.title {{version.title}}
				.versionString {{version.versionString}}
				.versionNumber {{version.versionNumber}}
			.pull-right
				%a{ :href => "#/edit/{{version._id}}" } Edit
			.clearfix
		.panel-body
			.desciption {{version.description | default: "No description available."}}
			.pull-left
				Published
				%time.pubDate.relative {{version.pubDate}}
				%span.draft {{version.draft}}
			.pull-right
				%span.size {{version.size | bytes}}
				%a.url{:href => "{{version.url}}"} Download
			.clearfix
	.empty.alert.alert-info{ "ng-show" => "!appcast.items || appcast.items.length == 0"}
		There are currently no versions defined for this appcast. Drag and drop your app here to add a new version.
