.appcast
	%form.form-inline{:role => "form"}
		.form-group
			.input-group
				%span.input-group-addon AppCast Name
				%input.form-control{:type => "text", "ng-model" => "appcast.name", "ng-change" => "saveAppcast()"}
				%span.input-group-addon
					%a{:href => "/feed/{{appcastId}}"}
						%i.icon-rss

%div{:action => "appcastUrl", "clear-on-complete" => "true", "drag-drop-upload" => "", "on-complete" => "uploadComplete(e, data)", "on-error" => "uploadError(e, data)", "on-progress" => "uploadProgress(progress, e, data)"}

.versions
	.version.panel{ "ng-repeat" => "version in appcast.versions | orderBy:'versionNumber':true", "ng-class" => "{'panel-default' : !version.draft, 'panel-danger' : version.draft}"}
		.panel-heading
			.pull-left
				.title {{version.title}}
				.versionString {{version.versionString}}
				.versionNumber {{version.versionNumber}}
			.pull-right
				.btn-toolbar
					.btn-group.btn-group-xs
						%button.btn.btn-default{ "ng-click" => "editVersion(version._id)" } Edit
						%button.btn.btn-default{ "ng-click" => "publishVersion(version._id, !appcast.draft)", "ng-show" => "version.draft" } Publish
						%button.btn.btn-default{ "ng-click" => "publishVersion(version._id, appcast.draft)", "ng-hide" => "version.draft" } Unpublish
			.clearfix
		.panel-body
			.desciption {{version.description | default: "No description available."}}
			.pull-left
				Published
				%time.pubDate.relative{ "datetime" => "{{version.pubDate}}" }
			.pull-right
				%span.size {{version.size | bytes}}
				%a.url{:href => "{{version.url}}"} Download
			.clearfix
	.empty.alert.alert-info{ "ng-show" => "!appcast.versions || appcast.versions.length == 0"}
		There are currently no versions defined for this appcast. Drag and drop your app here to add a new version.
