//= require datetimepicker
//= skins/lightgray/skin.min
//= skins/lightgray/content.min
.container {
	.versions {
		margin-top: 15px;

		.empty.alert {
			margin-top: 15px;
		}
	}
}

#fileupload {
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	width: 100%;
	border: 1px dashed #ccc;

	.fileupload-buttonbar {
		text-align: center;
		margin-top: 25px;
	}

	.hint {
		margin-bottom: 15px;
	}

	.fade {
		padding-left: 10px;
		padding-right: 10px;
	}

	.table.files {
		margin-bottom: 0;

		td.col-file {
			width: 100%;
		}

		td.col-size,
		td.col-buttons {
			white-space: nowrap;
		}
	}
}