.carousel {
	.carousel-inner {
		.icon-check {
			font-size: 45em;
			color: green;
			padding-left: 0.16em;
		}

		.carousel-caption {
			background: #333333;
			background: rgba(0, 0, 0, 0.75);
		}
	}
}